<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="./js/index.js"></script>

    <title>Catalog</title>
  </head>
  <body ng-controller="IndexController">
    <div class="container">
      <h1>Catalog</h1>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in catalog">
                  <th scope="row">{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td>
                    <button class="btn btn-info" ng-click="edit_product($index)" data-toggle="modal" data-target="#modal">Edit</button>
                    <button class="btn btn-danger" ng-click="delete_product(product.id, $index)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <!-- Right side -->
            <button class="btn btn-success" ng-click="new_product($index)" data-toggle="modal" data-target="#modal">New</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="modalLabel">Info</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="id-input">ID</label>
                  <input type="text" class="form-control" id="id-input" ng-model="current_product.id" placeholder="Enter an ID">
                </div>

                <div class="form-group">
                  <label for="name-input">Name</label>
                  <input type="text" class="form-control" id="name-input" ng-model="current_product.name" placeholder="Enter a name">
                </div>

                <div class="form-group">
                  <label for="price-input">Price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="number" step="0.01" class="form-control" id="name-input" ng-model="current_product.price" placeholder="Enter a price">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="update_or_create_product()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
